/* reset the margins and padding on everything to establish a baseline of sanity */
* {
  margin: 0;
  padding: 0;
}

/* use a sizing model that includes the borders and padding in width and height measurements.
 * see http://www.paulirish.com/2012/box-sizing-border-box-ftw/ for details
 */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  padding-top: 16px;
  padding-bottom: 96px;
  background: #34495e;
  color: #fff;
  font-family: Menlo, Consolas, monaco, monospace
}

.input {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 64px;
  padding: 16px;
  background: #7f8c8d;
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.2);
}

#prompt {
  width: 100%;
  height: 32px;
  font-size: 16px;
  border: none;
  background: #ecf0f1;
  padding-left: 10px;
  color: #2c3e50;
}

.log {
  counter-reset: log;
  margin: 0 16px;
}

.logline::before {
  width: 16px;
  text-align: right;
  margin-left: -32px;
  margin-right: 16px;
  display: block;
  float: left;
}

.logline.output::before {
  counter-increment: log;
  content: counter(log);
}

.logline.cmd::before {
  content: '$';
}

.logline {
  padding-left: 32px;
  margin: 3px 0;
}

.logline.output {
  color: #bdc3c7;
}

.logline img {
  max-width: 100%;
  vertical-align: bottom;
}